:root{
	--opt7-color-textBase:#{stencilColor("color-textBase")};
	--opt7-color-textBase--hover:#{stencilColor("color-textBase--hover")};
	--opt7-color-textBase--active:#{stencilColor("color-textBase--active")};
	--opt7-color-textSecondary:#{stencilColor("color-textSecondary")};
	--opt7-color-textSecondary--hover:#{stencilColor("color-textSecondary--hover")};
	--opt7-color-textSecondary--active:#{stencilColor("color-textSecondary--active")};
	--opt7-color-textLink:#{stencilColor("color-textLink")};
	--opt7-color-textLink--hover:#{stencilColor("color-textLink--hover")};
	--opt7-color-textLink--active:#{stencilColor("color-textLink--active")};
	--opt7-color-textHeading:#{stencilColor("color-textHeading")};
	--opt7-color-primary:#{stencilColor("color-primary")};
	--opt7-color-primaryDark:#{stencilColor("color-primaryDark")};
	--opt7-color-primaryDarker:#{stencilColor("color-primaryDarker")};
	--opt7-color-primaryLight:#{stencilColor("color-primaryLight")};
	--opt7-color-secondary:#{stencilColor("color-secondary")};
	--opt7-color-secondaryDark:#{stencilColor("color-secondaryDark")};
	--opt7-color-secondaryDarker:#{stencilColor("color-secondaryDarker")};
	--opt7-color-error:#{stencilColor("color-error")};
	--opt7-color-errorLight:#{stencilColor("color-errorLight")};
	--opt7-color-info:#{stencilColor("color-info")};
	--opt7-color-infoLight:#{stencilColor("color-infoLight")};
	--opt7-color-success:#{stencilColor("color-success")};
	--opt7-color-successLight:#{stencilColor("color-successLight")};
	--opt7-color-warning:#{stencilColor("color-warning")};
	--opt7-color-warningLight:#{stencilColor("color-warningLight")};
	--opt7-color-black:#{stencilColor("color-black")};
	--opt7-color-white:#{stencilColor("color-white")};
	--opt7-color-whitesBase:#{stencilColor("color-whitesBase")};
	--opt7-color-grey:#{stencilColor("color-grey")};
	--opt7-color-greyDarkest:#{stencilColor("color-greyDarkest")};
	--opt7-color-greyDarker:#{stencilColor("color-greyDarker")};
	--opt7-color-greyDark:#{stencilColor("color-greyDark")};
	--opt7-color-greyMedium:#{stencilColor("color-greyMedium")};
	--opt7-color-greyLight:#{stencilColor("color-greyLight")};
	--opt7-color-greyLighter:#{stencilColor("color-greyLighter")};
	--opt7-color-greyLightest:#{stencilColor("color-greyLightest")};
}
