<nav class="nav-user">
    <ul class="nav-user__container">
        <li class="nav-user__item nav-user--account">
            <a class="nav-user__link link link--no-underline button icon-button"
               href="{{urls.account.index}}"
               aria-label="{{lang 'common.account'}}"
            >
                <i class="icon">person</i>
            </a>

        </li>
        <li class="nav-user__item nav-user--cart">
            <a class="nav-user__link link link--no-underline button icon-button"
               title="{{lang 'cart.nav_aria_label'}}"
               href="{{urls.cart}}"
               aria-label="{{lang 'cart.nav_aria_label'}}"
            >
                <span class="nav-user__icon"><i class="icon">shopping_cart</i></span>
                <span class="nav-user__badge"></span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>
    </ul>
</nav>
